<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000" />
    <title>FoodList App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/FoodList-Icon-Black.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/FoodList-Icon-Black.png">
    <link rel="manifest" href="manifest.json">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- Logo From Logo Maker
    https://spark.adobe.com/express-apps/logomaker/preview
    -->
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <button id="hamburger" aria-label="Menu">☰</button>
    <header class="header">
        <div class="header__inner">
            <picture>
                <source type="image/webp" srcset="images/FoodList-Icon-Black.png" alt="FoodList-logos">
                <img src="images/FoodList-Icon-Black.png" alt="FoodList-logos">
            </picture>
        </div>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#/home">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#/favorite">Favorite</a>
                </li>
                <li class="nav__item">
                    <a href="https://github.com/almuhtadiaqil">About us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="maincontent">

    </main>

    <footer>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p class="copyright">Copyright &copy; 2021 - FoodList Apps</p>
    </footer>
</body>

</html>